<h1>About the Global Reading Project</h1>

<h3>The Global Reading Project is an initiative which was established to encourage students 
to read more widely and diversely</h3>

<%= link_to 'Home', root_path %>
<%= link_to 'East Asia', eastasia_path %>
<%= link_to 'Europe', europe_path %>
<%= link_to 'South and South East Asia', southandsoutheastasia_path %>
<%= link_to 'African-American', africanamerican_path %>
<%= link_to 'South American', southamerica_path %>
<%= link_to 'West Asia', westasia_path %>

<%= link_to 'Back', reviews_path %>